
:root {
  --container-bg-color: #333;
  --left-bg-color: rgba(24, 61, 35, 0.479);
  --left-button-hover-color: rgba(57, 163, 8, 0.3);
  --right-bg-color: rgba(82, 82, 82, 0.8);
  --right-button-hover-color: rgba(57, 78, 66, 0.3);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}

html, body {
  padding:0;
  margin:0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 19%;
  transform: translateX(-50%);
  white-space: nowrap;
}

h2 {
  font-size: 2rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 37%;
  transform: translateX(-50%);
  white-space: nowrap;
  
}

h3 {
  font-size: 1rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  white-space: nowrap;
  /* visibility: hidden; */
}

h4 {
  font-size: 1rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 47%;
  transform: translateX(-50%);
  white-space: nowrap;
  /* visibility: hidden; */
}

h5 {
  font-size: 1rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 54%;
  transform: translateX(-50%);
  white-space: nowrap;
  /* visibility: hidden; */
}

/* li{
  font-size: 1,8rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-60%);
  white-space: nowrap;
} */
.hide , .hide2{
  display: none;
}
.hover-left .hide  {
  display: block;
  
}

.hover-right .hide2  {
  display: block;
  
}



/* ======== */

.button {
  display: block;
  position: absolute;
  left: 50%;
  top: 70%;
  height: 2.5rem;
  padding-top: 1.3rem;
  width: 15rem;
  text-align: center;
  color: #fff;
  border: #fff solid 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateX(-50%);
}

.split.left .button:hover {
  background-color: var(--left-button-hover-color);
  border-color: var(--left-button-hover-color);
}

.split.right .button:hover {
  background-color: var(--right-button-hover-color);
  border-color: var(--left-button-hover-color);
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--container-bg-color);
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left:0;
  background: url('../img/ppp.jpg') center center no-repeat;
  background-size: cover;
}

.split.left:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--left-bg-color);
}

.split.right {
  right:0;
  background: url('../img/jjj.jpg') center center no-repeat;
  background-size: cover;
}

.split.right:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--left-bg-color);
}

.split.left, .split.right, .split.right:before, .split.left:before {
  transition: var(--speed) all ease-in-out;
}

.hover-left .left {
  width: var(--hover-width);
}

.hover-left .right {
  width: var(--other-width);
}

.hover-left .right:before {
  z-index: 2;
}


.hover-right .right {
  width: var(--hover-width);
}

.hover-right .left {
  width: var(--other-width);
}

.hover-right .left:before {
  z-index: 2;
}
/* ====== */

.hover-right .right:before  {
  background-color: rgba(245, 245, 220, 0);
  background-image: url("../img/9f875cc2-0c72-46ca-814f-6055de517fc8.jfif");
  
}
.hover-left .left:before {
  background-color: rgba(245, 245, 220, 0);
  background-image: url("../img/21336141.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* ======================= */



/* ======================== */

@media(max-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  .button {
    width: 12rem;
  }
  h3 {
    font-size: 13px;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    text-align: center;
    white-space: break-spaces;
}
h4 {
  font-size: 12px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 41%;
  transform: translateX(-50%);
  text-align: center;
  white-space: break-spaces;
  
}
h5 {
  font-size: 12px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  white-space: break-spaces;
  text-align: center;
}
/* ===== */
h2 {
  font-size: 12px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  white-space: break-spaces;
  text-align: center;
}

}


@media(max-height: 700px) {
  .button {
    top: 70%;
  }
}










/* //////////////////footer //////////////////////// */






@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

*{
	padding:0;
	margin:0;
}


/* The footer is fixed to the bottom of the page */

footer{
	/* position: fixed; */
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
	background-color: rgb(4, 99, 59);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	/* margin-top: 80px; */
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
	width: 30%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
  position: relative;
}

/* The company logo */

.footer-distributed .footer-left img{
	width: 30%;
}

.footer-distributed  h3 span{
	color:  #fafafa;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #000000;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}



/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}



